<div class="container__big-card">
  <div class="big-card__photo">
    <a [routerLink]="['content', articleId]">
      <img src="{{ coverPhoto }}" alt="Placeholder Image" width="550" />
    </a>
  </div>
  <div class="big-card__date">
    <p>{{ cardDate }} - by {{ cardAuthor }}</p>
  </div>
  <div class="big-card__title">
    <h1>
      <a [routerLink]="['content', articleId]">{{ cardTitle }}</a>
    </h1>
  </div>
  <div class="big-card__description">
    <a [routerLink]="['content', articleId]">
      {{ cardDescription }}
    </a>
  </div>
</div>
