<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__home">
  <section class="container__articles">
    <div class="articles__main">
      <app-big-card
        photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*S3Bzsc7VMpFZcTgOxKDgpA.png"
        cardDate="15 de Março, 2023"
        cardTitle="The Ultimate 2023 Angular Internationalization Guide"
        cardAnchorURL="https://medium.com/nerd-for-tech/the-ultimate-2023-angular-internationalization-guide-2aff1bd6364f"
        cardDescription="There are a few different ways to approach Angular internationalization. But in this guide, we are going to be looking at how you can do it with Transifex Native, as we can use it to automate a big part of the process."
      />
    </div>
    <div class="articles__others">
      <span>
        <app-small-card
          photoCover="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*Bx0gNW69lAXaSRqRw0_8dw.jpeg"
          cardDate="8 de Dezembro, 2017"
          cardTitle="How to make your HTML responsive by adding a single line of CSS"
          cardAnchorURL="https://medium.com/free-code-camp/how-to-make-your-html-responsive-by-adding-a-single-line-of-css-2a62de81e431"
        />
        <hr />
      </span>
      <span>
        <app-small-card
          photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*nzY4MPQ_LPedOmtxEvKhSw.png"
          cardDate="9 de Fevereiro, 2017"
          cardTitle="How I started drawing CSS Images"
          cardAnchorURL="https://medium.com/prototypr/how-i-started-drawing-css-images-3fd878675c89"
        />
        <hr />
      </span>
      <span>
        <app-small-card
          photoCover="https://miro.medium.com/v2/resize:fit:3920/format:webp/1*PHmNXbvOfg5AHiMWWuaRXg.jpeg"
          cardDate="31 de Agosto, 2017"
          cardTitle="Why we moved from Angular 2 to Vue.js (and why we didn’t choose React)"
          cardAnchorURL="https://medium.com/reverdev/why-we-moved-from-angular-2-to-vue-js-and-why-we-didnt-choose-react-ef807d9f4163"
        />
      </span>
    </div>
  </section>
</div>
