body {
  background-color: #111;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 18.75rem;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: underline;
}
